@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary: #b5a1e5;
  --on-primary: #100e17;
  --background: #151515;
  --on-background: #eae6f2;
  --surface: #1d1c1f;
  --on-surface: #dddae5;
  --outline: rgba(255, 0, 0, 0.6);
  --white: hsl(0, 0%, 100%);
  --white-alpha-4: hsla(0, 0%, 100%, 0.04);
  --white-alpha-8: hsla(0, 0%, 100%, 0.08);
  --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-8: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--on-background);
}

::-webkit-scrollbar {
  display: none;
}

.card {
  width: clamp(150px, 95vw, 250px);
  box-shadow: var(--shadow-1);
  outline: 2px solid var(--outline);
  overflow: hidden;
  color: var(--on-surface);
  cursor: pointer;
  border-radius: var(--radius-8);
  background-color: var(--surface);
}

.img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: 200ms ease-in-out transform;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to top, var(--background), transparent);
}

.info {
  padding: 2rem 1rem 1rem;
}

.info h2 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.single-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.card:hover .img {
  transform: scale(1.1);
}

.movies-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.movies-container {
  padding: 1rem;
  text-align: center;
  color: var(--on-surface);
}

.search {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 0 1rem;
}

.search input,
.search button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid var(--outline);
  color: var(--on-surface);
}

.search button {
  cursor: pointer;
}

.search button:hover {
  background-color: var(--outline);
}

.search button:active {
  transform: scale(0.9);
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-surface);
  padding: 3rem;
  overflow-y: scroll;
  transform: scale(0);
  transition: 200ms ease-in-out transform;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  width: 1200px;
  margin-top: 10rem;
}

.content .left .single-info {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.content .left .single-info .heart-icon {
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}

.content .left .single-info .heart-icon:hover {
  transform: scale(1.1);
}

.content .left .single-info .heart-icon:active {
  transform: scale(0.9);
}

.poster-img {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--outline);
}

.poster-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-info-container {
  width: 200px;
}

.right > *:not(h1) {
  margin: 1rem 0;
}

.trailer iframe {
  border: 2px solid var(--outline);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
  max-width: 400px;
  width: 100%;
  height: 200px;
}

.x-icon {
  font-size: 2rem;
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
  user-select: none;
}

.x-icon:hover {
  transform: scale(1.3);
}

.x-icon:active {
  transform: scale(1);
}

.show-popup {
  transform: scale(1);
}

.change-color {
  color: var(--primary);
}

@media only screen and (max-width: 800px) {
  .popup-container * {
    padding: 0;
  }

  .popup-container {
    padding: 2rem;
  }

  .content {
    flex-direction: column;
    margin-top: 50rem;
  }

  .x-icon {
    top: 10px;
    right: 20px;
  }
}
